# **Системы счисления**


**Оглавление:**
*   Встроенные функции
*   Перевод в другие СС ниже 10
*   Оформляем в виде функции


Периодически, возникает необходимость перевести число из ***десятичной*** СС в какую-либо другую, для этого есть несколько методов и все их мы разберем

***Данный блок является служебным***

In [1]:
import random

sample = random.randint(10, 1000)

dz_1 = random.randint(10, 1000)
dz_2 = random.randint(10, 1000)
dz_3 = random.randint(10, 1000)

# **1. Встроенные функции**

Для перевода в СС с основанием 2, 8 и 16 уже существуют функции, которые встроены в язык, имеюшие свой недостаток. В качестве возвращаемого объекта выступает строка, содержащая в себе переведенное число:

In [2]:
bin(sample)

'0b110001010'

Как вы могли заметитить, в строке встречаются и лишние символы: первый `0` отвечает за незначащие нули, а буква после `0` отвечает за основание СС, в которой находится переведенное число. В нашем случае, `b` - `binary` - бинарная СС. Поэтому следует вспомнить о срезах - после переменной\строки в квадратных скобках можно указать параметры среза:



```
example = bin(sample) # Тут находится строка
example[a, b, c]
```

Тут параметры `a`, `b`, `c` отвечают за начало, конец и шаг соотвественно, ровно так же как и у функции `range()`. Стоит так же упомянуть, что такой срез задает промежуток по индексам с границами `[a, b)`, то есть, индекс b не включен.

In [ ]:
example = bin(16) # 0b10000
                  # 0123456 - индексы для данной строки, нам не нужны элементы под индексами 0 и 1
example = example[2:]

Причем, тут я не указал параметры `b` и `с`, а это значит, что берутся дефолтные значения, то есть для `b` - вплоть до самого конца строки, для `c` - шаг в 1 символ

Так же, существуб функции для перевода в 8 и 16 СС - `oct()` и `hex()`, соотвественно, с теми же особенностями:

In [3]:
print(oct(sample))
print(hex(sample))

0o1444
0x324

В случае, если нам необходимо перевести в 10 СС, мы используем функцию `int()`, так как, она из любой строки, которая является числом в какой либо СС переводит число в 10 СС, но для этого нам необходимо указать второй параметр - основание СС, из которой мы переводим в целое число

In [5]:
print(sample)
example = oct(sample)[2:]
print(example)
example = int(example, 8)
print(example)

804
1444
804

# **2. Перевод в другие СС ниже 10**

Но, к сожалению, не существует функций, которые переводят числа в иные СС, а значит, напишем свою:

In [6]:
example = sample
osn = 8
itog = ''
while example > 0:
  ost = str(example % osn)
  itog = ost + itog # Мы добавляем itog к osn, чтобы осуществить разворот строки
  example //= osn
print(itog)
print(oct(sample))

1444
0o1444

# **3. Оформляем в виде функции**

А код, что будет написан ниже, стоит запомнить, так как мы часто будем использовать подобную функцию, а значит, надо будет помнить, как ее реализовать. В данном мы используем так же переменную `ascii_uppercase`, которая содержит весь латинский алфавит в заглавном регистре, это нам необходимо для воссоздания всех цифр выше 9.

In [7]:
from string import ascii_uppercase

def perevod(n: int, osn: int) -> str:
    """Переводит число n из 10 в СС с основанием osn"""

    s = ''
    alf = '0123456789' + ascii_uppercase # "0123456789ABCD..."
    while n > 0:
        s = s + alf[n % osn]
        n = n // osn
    return s[::-1]
    


print(perevod(sample, 26)) # Перевод в 26ую СС

14O

**Домашнее задание**

Вам предоставлены 3 числа, необходмио
1. Вывести 2, 8, 16 записи числа, которое находится в переменной dz_1.
2. Переведите число в переменной dz_2, в 9ую СС и вывведите его.
3. Переведите число в переменной dz_3 в 24ую СС и затем обратно в десятичную.

In [3]:
# Вводные данные находяется в переменных dz_1, dz_2 и dz_3
print(dz_1)
print(dz_2)
print(dz_3)

697
629
694

In [ ]:


# Введите решение пункта 1 здесь

In [ ]:



# Введите решение пункта 2 здесь

In [ ]:


# Введите решение пункта 3 здесь