# **Чтение данных**


**Оглавление:**
*   Считывание из терминала
*   Числа разделенные пробеломb и строковый метод ```.split(arg)```
*   Операции с данными с использованием функции ```map``` или генератора списков



Во многиз задачах экзаменов или олимпиад, решаемых с помощью программирования, требуется знать и понимать как осуществляется ввод данных.

***Данный блок является служебным***

In [1]:
import random

sample = [random.randint(1, 1000) for i in range(10)]
data_1 = str(sample[5])
data_2 = ' '.join([str(i) for i in sample])
sample = [random.randint(1, 1000) for i in range(10)]
dz_1 = ' '.join([str(i) for i in sample])
sample = [random.randint(1, 1000) for i in range(10)]
dz_2 = ' '.join([str(i) for i in sample])
sample = [random.randint(1, 1000) for i in range(10)]
dz_3 = ' '.join([str(i) for i in sample])

# **1. Считывание из терминала**

Для считывания данных из терминала используется функция ```input()```, в которую в качестве аргумента, можно передать сообщение, которое будет выведено пользователю, при запуске программы.

Пример работы:
```
a = input('Введите число a: ') # Предположим, что пользователь введет число 15
print(a) # Будет выведено только значение переменной а, то есть - '15'
```

Причем, в примере мы вводим вроде бы и число, но переменная имеет тип ```str```, так как функция ```input()``` всегда возвращает введеные данные в формате ```str```

Поэтому при считывании чисел часто можно увидеть конструкцию вида: ```int(input())```, которая позволяет введенное число сразу привести к целочисленному виду

Но есть нюанс: функция ```int()``` позволяет перевести строку в число, только если в нем не используется никаких иных символов кроме всех арабских цифр, поэтому такая конструкция позволяет ввести только одно число единоразово

# **2. Числа разделенные пробелом и строковый метод ```.split(arg)```**

Если нам необходимо считать ряд чисел, которые разделены пробелом, то может использоваться строковый метод ```.split(arg)```, который разделяет строку по символу введенному в качестве аргумента и возвращает список

*Пример работы:*
```
a = input('Введите число a: ').split(' ') # Предположим, что пользователь введет строку - '15 14'
print(a) # Будет выведено только значение переменной а, то есть - ['15', '14']
```

# **3. Операции с данными с использованием функции `map` или генератора списков**

Предположим, что у нас есть уже введенная строка, которую мы разделили по пробелу с помощью `split`

In [ ]:
example = data_2.split(' ')
print(example)

['987', '855', '216', '413', '980', '473', '569', '283', '923', '812']

Теперь нам необходимо перевести все числа в этом списке в целочисленный тип данных, что можно сделать разными способами

1. Обычный цикл `for`:

In [ ]:
int_first = example
for i in range(len(int_first)):
  int_first[i] = int(int_first[i])
print(int_first)

[987, 855, 216, 413, 980, 473, 569, 283, 923, 812]

2. C помощью генерации списков:

In [ ]:
int_second = example
int_second = [int(i) for i in int_second]
print(int_second)

[987, 855, 216, 413, 980, 473, 569, 283, 923, 812]

3. С помощью функции `map`

In [ ]:
int_third = example
int_third = list(map(int, int_third))
print(int_third)

[987, 855, 216, 413, 980, 473, 569, 283, 923, 812]

Причем, в последнем случае важно отметить:
1. Внутрь функции `map` первым аргументом мы передаем функцию которую нужно применить к каждому элементу списка `int_third`, но не вызываем ее, т е не ставим скобки после названия функции
2. Функция map возвращает нечитабельный объект, поэтому мы явно переводим этот объект к типу данных `list` с использованием функции `list()`

**Домашнее задание**

Вам предоставлена строка, содержащая числа, разделенные пробелом, вам необходимо реализовать:
1. Перевод всех чисел в этой строке к типу `int` с помощью цикла `for`
2. Перевод всех чисел в этой строке к типу `int` с помощью генерации списков
3. Перевод всех чисел в этой строке к типу `int` с помощью функции `map()`

In [ ]:
# Вводные данные находяется в переменных dz_1, dz_2 и dz_3
print(dz_1)
print(dz_2)
print(dz_3)

724 732 448 786 910 526 821 506 924 597
261 151 60 693 600 883 335 169 56 772
282 724 713 124 736 52 801 610 908 225

In [ ]:


# Введите решение пункта 1 здесь

In [ ]:


# Введите решение пункта 2 здесь

In [ ]:


# Введите решение пункта 3 здесь